!!! 5
%html
	%head
	%body
		%form{ :action => 'post.php', :method => 'post'}
			%input{ :name => 'model[]', :type => 'text'}
			%br
			%input{ :name => 'model[]', :type => 'text'}
			%input{ :type => 'submit'}